<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find sphere-follower-robot)/launch/spawn.launch"/>
  <node name="blob_estimation" pkg="sphere-follower-robot" type="BlobsEstimator.py" output="screen"/>
  <node name="target_estimation" pkg="sphere-follower-robot" type="TargetEstimator.py" output="screen"/>
  <node name="controller" pkg="sphere-follower-robot" type="Controller.py" output="screen"/>
</launch>
